body{
  background-color: black;
  color: whitesmoke;
}
h1,p{
  text-align: center;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: black;
}

td,th {
  border: 1px solid white;
  padding: 8px;
  color: whitesmoke;
}
